{
    "extends":[
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    "rules": {
        
    },
    "overrides": [
        {
          "files": [ "test/**/*.js", "src/**/*.js" ],
          "excludedFiles": "",
          "rules": {
            "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
            "no-console": "warn",
            "semi": "error",
            "indent": ["error", 4],
            "key-spacing": "error",
            "no-trailing-spaces": "error",
            "strict": "error",
            "quote-props": "error"
          }
        }
      ]
}